*{margin: 0; padding: 0; box-sizing: border-box;}
html,body {width: 100%;height: 100%;}
li {list-style:none}
*::-webkit-scrollbar { width:10px; background:#eee;/*滚动条外层轨道*/}
*::-webkit-scrollbar-thumb{ display:block; width:6px; margin:0 auto; background:#ccc; border-radius:10px;/*内层轨道*/}
:root {
  width: 100%;
  height: 100%;
  background-color: #F6F6F6;
  --x: #ef4444;
  --o: #3b82f6;
  --c: #333;
}

.main-modal-box {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.2);
	z-index: 1000;
}
.main-modal {
	min-width: 384px;
	background: #fff;
	border-radius: 6px;
	box-shadow: 0 10px 40px -10px rgba(0, 0, 0, .2);
	padding: 20px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.main-madal-content {
  margin-bottom: 32px
}
.main-madal-content > h4 {
  color: #40484b;
  margin-bottom: 16px;
  font-size:20px;
  font-weight:500;
  text-align: center;
  display: flex;
  justify-content: center;
}
.main-madal-content > p {
  line-height: 30px;
  color: #747e83;
  display: flex;
  align-items: center;
}
.close-modal-btn {
	width: 20px;
	height: 20px;
	position: absolute;
	top: 20px;
	right: 20px;
  background: url(./container/images/close.png) no-repeat center;
	background-size: 100%;
	cursor: pointer;
	z-index: 2;
}
.close-modal-btn:hover {
  background: url(./container/images/close-hv.png) no-repeat center;
  background-size: 100%;
}
.disable{
	opacity: 0.5;
	cursor: no-drop !important;
}
.gray {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: gray;
}