.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  background-color: #fff;
  padding: 40px;
  border-radius: 4px;
}
.head {
  width: 100%;
  border-bottom: #333 solid 1px;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
.head button {
  padding: 4px 12px;
  cursor: pointer;
}
.content {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.tool-introduce {
  width: 16%;
  font-size: 16px;
  color: #000;
  padding-right: 20px;
  padding-top: 54px;
}
.left-panel {
  width: 560px;
}
.board-head {
  width: 100%;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
}
.board-head b {
  font-size: 24px;
}
.board-head .res {
  color: #ef4444;
  font-weight: bold;
}
.board-head .btn {
  padding: 4px 12px;
  cursor: pointer;
}
.board-box {
  width: 560px;
  height: 560px;
  margin-top: 10px;
}
.right-panel {
  flex: 1;
  height: 606px;
  border: 2px solid #ccc;
  border-radius: 4px;
  margin-left: 40px;
}
.right-panel .title {
  width: 100%;
  height: 60px;
  line-height: 60px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  background-color: #eee;
  border-radius: 8px 8px 0 0;
}
.chess-record {
  width: 100%;
  height: calc(100% - 60px);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 0;
}
.chess-record li {
  display: flex;
  flex-direction: column;
  border-top: 2px solid #ccc;
  border-right: 1px solid #ccc;
}
.chess-record li:nth-child(3n) {
  border-right: none;
}
.chess-record p {
  width: 100%;
  height: 60px;
  text-align: center;
  line-height: 60px;
  font-weight: 400;
  border-bottom: 1px solid #ccc;
}
.chess-record span {
  font-size: 32px;
  font-weight: bold;
  height: calc(100% - 60px);
  display: flex;
  align-items: center;
  justify-content: center;
}